@charset "UTF-8" ;

@font-face {
    font-family: "idroid";
    src: url('conteudo/fontes/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'bat';
    src: url('conteudo/fontes/batmfa__.ttf');
}

@font-face {
    font-family: 'robo';
    src: url('conteudo/fontes/Roboto-Thin.ttf');
}

*{
margin: 0px;
padding: 0px;

}

body {
    font-family: 'idroid', Arial, sans-serif;
    background-color: #B0805A;
}

h1 {
    font-family: 'bat';
    font-size: 45px;
}

h2 {
    font-family: 'robo';
    font-size: 30px;
}

h3 {
    font-family: 'robo';
    font-size: 25px;
    background-color: #5f919e7e;
}

header {
    background-image: linear-gradient(to bottom, white, #F09541);
    font-size: 1.2em;
    color: #000000;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header

nav {
    padding: 10px;

}

nav > a {
    color: #F0F2F2;
    padding: 10px;
    text-decoration: none;

}

main {
    background-color: #F0F2F2;
    height: auto;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    min-width: 320px;
    max-width: 800px;
}

img {
    width: 100%;
}

section {
    background-color: #5F919E;
    border-radius: 16px;
    margin: 5px;
    padding: 10px;
    box-shadow: 3px 4px 6px 0px;
}
h4#lista {
    font-family: 'robo';
    background-color: #858382;
    margin: 0px;
    padding: 0px;
    border: 0;
}

footer {
    background-color: #5F919E;
    color:#F0F2F2;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
footer > p {
    margin: 0px;
}

.video{
    text-align: center;
    background-color: #5F919E;
    height: auto;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.img-container {
    text-align: center;
  }

  .img-pequena {
    text-align: center;
    width: 50%;
    margin: auto;
  }